@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter');


body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    display: flex;
    justify-content: center;
}

.logo{
    height: 69.4px;
    width: 128px;
    margin-top: 11px;
}

h1{
    font-family: 'Inter';
    color: white;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
}

.subtitulo-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
}

button{
    width: 126px;
    height: 56px;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 16px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

h3{
    font-size: 32px;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
}

.subtitulo-2{
    display: flex;
    justify-content: center;
}

.mat{
    width: 26.32px;
    height: 26.32px;
}

h2{
    color: white;
    margin-top: -1px;
    margin-left: 15px;
    font-family: 'Inter';
    font-weight: 600;
}

