@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 5rem;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  text-align: center;
  font-weight: bold;
  line-height: 3rem;
}

.team span {
  border: 1px solid white;
  padding: .5rem 1rem;
  border-radius: 30px;
  margin: 1rem;
}

.form_input_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.inputs {
  background-color: #1C1C1E;
  padding: 1rem;
  width: 320px;
  height: 126px;
  text-align: center;
}

.inputs h3 {
  font-size: 20px;
  margin-bottom: 1rem;
}

input {
  padding: .5rem 1rem;
  background-color: #1C1C1E;
  border: none;
  border-bottom: 1px solid #3A41BB;
  color: white;
  font-size: 1rem;
}

input::placeholder {
  color: white;
}